aiogram==3.3.0
aiohttp
aiofiles
openai
gigachat
python-dotenv
python-docx
docx2pdf
xlsxwriter
python-pptx
pydrive2
email-validator
aiosmtplib
pandas
reportlab
fastapi
uvicorn
python-multipart
jinja2
PyDrive
